*{
background-color: rgb(226, 241, 234);

}
#spinner{
    margin: 25px;
}
.con{
   
    height: 100vh;
}
.res-con{
    margin-left: 30px;

}
.img{
    width:250px;
}
.search:focus,
.search:hover{
    outline: none;
    transform: scale(1.02);
    border-color:#4580ce;
    box-shadow: 0 4px 12px rgba(10, 20, 24, 0.2);
    background-color: #ffffff;
}
.search{
    width:70%;
    max-width: 500px;
    padding:12px 20px;
    background-color:#f9f9f9;
    border-radius:50px;
    border: 1px solid #ccc;
    padding: 12px;
    transition: all 0.3s ease;
}
.search::placeholder{
    font-size: 15px;
    letter-spacing: 2px;
    padding-left:10px;
    color: #999;
}
.con-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.head{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-top: 30px;
    font-weight: 600;
    font-size: 40px;
    color: #2c3e50;
    text-shadow: 2px 2px 2px #aaa
}
.para{
 font-size: 16px;
 letter-spacing: 3px;
 color: #555;
}


.result-item {
    margin-bottom: 20px;
    width:90%;
    margin-top: 0px;
    border-radius: 10px;
}
.result-item:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}
.result-title {
    font-size: 22px;
}

.link-description {
    color: #444444;
    font-size: 15px;
    margin-bottom: 10px;
}

.result-url {
    color: #006621;
    text-decoration: none;
}


/* medium screen*/
@media screen and (max-width:768px) {
.head{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:500;
    font-size: 35px;
    color:black;
}
.para{
 font-size: 17px;
 letter-spacing: 2px;
}


.result-item {
    margin-bottom: 18px;
    width:90%;
    
}
.img{
    width:200px;
}
.search{
    height:33px;
    width: 60%;
}
::placeholder{
    font-size: 12px;
    letter-spacing: 2px;
    padding-left:7px;
}
.con-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.result-title {
    font-size: 20px;
}

.link-description {
    color: #444444;
    font-size: 11px;
}

.result-url {
    color: #006621;
    text-decoration: none;
    font-size: 15px;
}
}

/* small screen*/
@media screen and (max-width:576px) {
.head{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:500;
    font-size: 25px;
    color:black;
   
}
.para{
 font-size: 15px;
 letter-spacing: 2px;
}


.result-item {
    margin-bottom: 16px;
    width:70%;
    
}
.img{
    width:150px;
}
.search{
    height:22px;
    width: 45%;
}
::placeholder{
    font-size: 10px;
    letter-spacing: 1px;
    padding-left:5px;
}
.con-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.result-title {
    font-size: 16px;
}

.link-description {
    color: #444444;
    font-size: 9px;
}

.result-url {
    color: #006621;
    text-decoration: none;
    font-size: 12px;
}
}
